@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: w;
    src: url(/font/Lato/Lato-Bold.ttf);
}

body{
    color: #fff;
    font-family: 'Lato', sans-serif;

}

/* navbar-start */

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 3rem;
    position:fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

}

.navbar span{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient( 90deg , transparent , #fff);
}

@keyframes animate {
    0%{
        left: 0;
        transform: translate(-100%);
    }
    100%{
        left: 100;
        transform: translate(-100%);
    }
}

.logo{
    text-transform:capitalize;
    font-size:30px;
    cursor: pointer;
    font-family: w;
}

.li{
    list-style:none;

}

a{
    text-decoration: none;
    color: white;

}

.menu{
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    list-style:none;
}

.btn{
    font-weight: 500;
    text-transform: uppercase;
}

/* navbar-end */


.video-section video{
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    font-weight: 100;
}

