@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: w;
    src: url(/font/Lato/Lato-Bold.ttf);
}

body{
    color: #fff;
    font-family: 'Lato', sans-serif;

}

/* navbar-start */

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 3rem;
    position:fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    z-index: 1000;
}

.navbar span{
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient( 90deg , transparent , #fff);
    animation: animate 5s infinite linear;
}

@keyframes animate {
    0%{
        left: 0;
        transform: translate(-100%);
    }
    100%{
        left: 100;
        transform: translate( 0%);
    }
}

.logo{
    text-transform:capitalize;
    font-size:30px;
    cursor: pointer;
    font-family: w;
}

.li{
    list-style:none;

}

a{
    text-decoration: none;
    color: white;

}

.menu{
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    list-style:none;
}

.btn{
    font-weight: 500;
    text-transform: uppercase;
}

/* navbar-end */

/* video-start */
.video-section video{
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    font-weight: 100;
}
/* video-end */

/* header img-section -start */

.img-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}

.img{
    object-fit:none;
    height: 100%;
    width: 100%;
}

/* header img-section -end */

/* main img-section -strat */
.section{
    background-color: #0b00dd;
    color: rgb(255, 255, 255);
    padding:5rem;
}

.boxes-container{
    display:flex;
    flex-direction:column;
    gap:8rem;
}

.columns{
    display:flex;
    gap:1.5rem;
}

.col img{
    height: 200px;
    width: 200px;
    object-fit:cover;
}

.col-1{
    display: flex;
    gap:1.5rem;
}

   /* boxes-start */
.box1 .col-1 img:first-child{
    width: 150px;
    height: 180px;
    
}
.box1 .col-1 img:nth-child(2){
    width: 380px;
    height: 430px;

}

.col-3{
    display: flex;
    justify-content: center;
    gap:2.5rem;
    flex-wrap: wrap;
}

.box1  .col-3 img:first-child{
    width: 320px;
    height: 170px;
    
}

.box1 .col-3 img:nth-child(2){
    width: 150px;

}

.box1 .col-3 img:nth-child(3){
    width: 200px;
    height: 200px;

}
/* main img-section -end */